<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="info.papdt.blackblub">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="cyanogenmod.permission.PUBLISH_CUSTOM_TILE" />

    <application
	    android:allowBackup="true"
	    android:fullBackupContent="@xml/full_backup_contents"
	    android:name=".BlackbulbApplication"
	    android:icon="@mipmap/ic_launcher"
	    android:roundIcon="@mipmap/ic_launcher_circle"
	    android:label="@string/app_name"
	    android:persistent="true"
	    android:supportsRtl="true"
	    android:theme="@style/AppTheme.Light"
	    tools:ignore="ManifestResource,UnusedAttribute">

        <activity
            android:name=".ui.MainActivity"
            android:finishOnTaskLaunch="true"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:stateNotNeeded="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
	            <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
        </activity>

    </application>

</manifest>